header {
    position: fixed;
    width: 100%;
    z-index: 99999;
    backdrop-filter: blur(7px);

    nav {
        padding: 24px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul {

            a {
                color: black;
                text-decoration: none;

                .logoname {
                        color: #165DF5;
                    }
            }

            li {
                list-style: none;
                cursor: pointer;

                

                &:hover {
                    color: #165df5df;
                }
            }
        }

        .logo {
            display: flex;
            align-items: center;
            gap: 14px;


        }

        .list-item {
            display: flex;
            gap: 40px;
        }

        .header-btn {
            display: flex;
            align-items: center;
            gap: 11px;

            select{
                background-color: transparent;
                border: none;
                outline: none;
            }
        }
    }
}